{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/kotoba-kir
        {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
         :git/sha "f3d255b52f85040815057426f5da557714b09b3a"}
        io.github.kotoba-lang/kotoba-gmir
        {:git/url "https://github.com/kotoba-lang/kotoba-gmir.git"
         :git/sha "820a3d01c80a4e38753632e2945f86e716ce054b"}
        io.github.kotoba-lang/kotoba-mir
        {:git/url "https://github.com/kotoba-lang/kotoba-mir.git"
         :git/sha "dd7bbfdc364e1314f961ef90c223b17ac95eaea6"}
        io.github.kotoba-lang/kotoba-codegen
        {:git/url "https://github.com/kotoba-lang/kotoba-codegen.git"
         :git/sha "c85088bfe9dd85e9c6a65d986f34a651b2af7d13"}
        io.github.kotoba-lang/kotoba-object
        {:git/url "https://github.com/kotoba-lang/kotoba-object.git"
         :git/sha "a97bb8d83ec24acfb3c79503928f49b4067fe7b5"}
        io.github.kotoba-lang/artifact
        {:git/url "https://github.com/kotoba-lang/artifact.git"
         :git/sha "af43fc8fa43edb12361828e26456f75b12ab40be"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
